#socials {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socials-page h1 {
  margin-bottom: 30px;
  text-align: center;
}

.socials-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: auto;
}

.social-card {
  display: flex;
  align-items: center;
  padding: 15px 25px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  text-decoration: none;
  min-width: 200px;
  transition: 0.3s ease;
}

.icon-box {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 100%;
  height: auto;
}

.social-name {
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
}

.social-card:hover {
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.50);
  transform: translateY(-3px);
}