*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(180deg, #01156d, #000000 100%);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

section {
  height: 100vh;
  font-weight: 600;
  color: white;
}
