#about-me {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(180deg, #000000, #01156d 100%);
}

.about-me-page {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  height: 100vh;
}

.about-me-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  width: 95%;
  margin: 0 auto;
  gap: 20px;
}

.about-me-page h1 {
  position: absolute;
  top: 40px;
  left: 40px;
}

.about-me-pic-div {
  margin-top: 60px;
}

.me-pic {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid rgba(255, 255, 255, 0.2);
}

.about-me-content {
  border-radius: 15px;
  padding: 20px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.2);
  margin-left: 50px;
  margin-top: 60px;
  width: 400px;
  line-height: 1.5;
}

.about-me-content b {
  color: rgb(233, 135, 6);
}

.about-me-pic-div {
  justify-self: start;
}

.button-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 60px;
}

.more-button {
  width: 200px;
  padding: 12px 0;
  background: transparent;
  color: white;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
}

.more-button:hover {
  background: white;
  color: #000831;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-overlay:target {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  border-width: 2px;
  border-style: solid;
  border-color: #333;
  border-radius: 8px;
  width: 500px;
  overflow: hidden;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.more-about-me-body {
  text-align: justify;
  text-indent: 50px;
  line-height: 1.6;
  word-spacing: 5px;
  padding: 10px 0;
}

.more-about-me-body b {
  color: rgb(233, 135, 6);
}

#hobbies .modal-content {
  width: 300px;
}

#skills .modal-content {
  width: 300px;
  margin-top: 20px;
}

.modal-header {
  background: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.modal-body {
  padding: 10px 30px;
  color: #333;
  line-height: 1.5;
}

.close-btn {
  color: white;
  text-decoration: none;
}

.hobbies-list {
  list-style-type: "⭐";
  padding-left: 20px;
}

.skill-list ol {
  list-style-type: decimal;
  margin-left: 50px;
}

.skill-list ul {
  list-style-type: square;
  padding-left: 30px;
}